:root{
	--green:  #0097A7;
	--orange:  #FFAB40;
	--gray:  #78909C;
	--yellow: #EEFF41;
}

body{
	margin: 0;
}

*{
	font-family: Comfortaa;
	color: var(--gray);
}

.paragraph{
	font-size: 2.1vh;
}

.subtitle{
	font-size: 2.5vh;
}

.title{
	font-size: 8vh;
}

.amatic{
	font-family: Amatic SC;
}

.comfortaa{
	font-family: Comfortaa;
}

.plain{
	font-weight: 400;
}

.bold{
	font-weight: 700;
}

.text-orange{
	color: var(--orange);
}

.text-green{
	color: var(--green);
}

.text-gray{
	color: var(--gray);
}

.text-center{
	text-align:  center;
}

.bg-yellow{
	background: var(--yellow);
}

.inline-flex{
	display: inline-flex;
}

.top{
	vertical-align: top;
}

.m-0{
	margin: 0;
}

.mt-0{
	margin-top: 0;
}

.ml-15{
	margin-left: 15px;
}

.mt-10{
	margin-top: 10px;
}

.mb-20{
	margin-bottom: 20px;
}

.mb-40{
	margin-bottom: 40px;
}

.mr-85{
	margin-right: 85px;
}

.mt-40{
	margin-top: 40px;
}

.mx-auto{
	margin-left: auto;
	margin-right: auto;
}

.flex{
	display: flex;
}

.row{
	flex-direction: row;
}

.row-reverse{
	flex-direction: row-reverse;
}

.lg\:col-2{
	flex: 100%;
	width: 100%;
}

.lg\:col-3{
	flex: 100%;
	width: 100%;
}

.lg\:col-4{
	flex: 100%;
	width: 100%;
}

.lg\:col-5{
	flex: 100%;
	width: 100%;
}

.lg\:col-7{
	flex: 100%;
	width: 100%;
}

.lg\:col-8{
	flex: 100%;
	width: 100%;
}

.lg\:col-9{
	flex: 100%;
	width: 100%;
}

.lg\:col-10{
	flex: 100%;
	width: 100%;
}

.col-3{
	flex: 25%;
	width: 25%;
}

.col-9{
	flex: 75%;
	width: 75%;
}

.border-radius{
	border-radius: 100px;
}

.border-green{
	border-color: var(--green);
}

.border-orange{
	border-color: var(--orange);
}

.border{
	border-width: 1px;
	border-style: solid;
}

.border-left-radius{
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

.border-left-none{
	border-left-style: none;
}

.py-8{
	padding-top: 8px;
	padding-bottom: 8px;
}

.pr-30{
	padding-right: 30px;
}

.icon{
	width:  12px
}

.none{
	display: none;
}

.block{
	display: block;
}

.column{
	flex-direction: column;
}

.container{
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 755px){
	.container{
		width: 755px;
		padding-left: 0;
		padding-right: 0;
	}

	.lg\:row-reverse{
		flex-direction: row-reverse;
	}

	.lg\:none{
		display: none;
	}

	.lg\:block{
		display: block;
	}


	.lg\:col-2{
		flex: 16.666%;
	}

	.lg\:col-3{
		flex: 25%;
	}

	.lg\:col-4{
		flex: 33.333%;
	}

	.lg\:col-5{
		flex: 41.666%;
	}

	.lg\:col-7{
		flex: 58.333%;
		width: 58.333%;
	}

	.lg\:col-8{
		flex: 66.666%;
		width: 66.666%;
	}

	.lg\:col-9{
		flex: 75%;
		width: 75%;
	}

	.lg\:col-10{
		flex: 83.333%;
		width: 83.333%;
	}

	.lg\:pr-30{
		padding-right: 30px;
	}
}